*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea
jlibtorrent-1.2.7.0-sources.jar
jlibtorrent-1.2.7.0-javadoc.jar
*.apk
output.json
